@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Orelega One', cursive;
	scroll-behavior: smooth;
	list-style: none;
}
body{
	background-color: #eec9b4;
}
header{
	z-index: 5;
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 7vh;
	background-color: #fff;
}
.nav-bar{
	width: 1366px;
	height: 7vh;
}
h1{
	color: #c6784d;
	font-size: 2rem;
	text-align: center;
	padding-top: 1.8vh;
}
main{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 40vh;
}
.main-navegation{
	width: 1366px;
}
.banner{
	border-radius: 10px;
	margin-top: 12vh;
	width: 1366px;
	height: 48vh;
}
.banner-mobile{
	display: none;
}
button{
	color: white;
	font-size: 1.5rem;
	margin-top: 3vh;
	border-radius: 5px;
	width: 680px;
	height: 5vh;
	background-color: #c6784d;
	border-style: none;
}
button:hover{
	color: black;
	cursor: pointer;
	background-color: #ab5728;
	transition: 0.8s;
}
h2{
	margin-top: 3vh;
	font-size: 2rem;
	color: #c6784d;
}
.main-navegation p{
	font-size: 1.3rem;
}
/*https://imgur.com/a/LGncdsC */
.info{
	width: 300px;
	height: 400px;
	background-color: white;
	border-radius: 13px;
	transform: rotate(0deg);
	transition: 0.36s;
}
.info:hover{
	background-color: #dfa484;
	width: 320px;
	height: 420px;
	cursor: pointer;
	transition: 0.5s;
}
.name{
	text-align: center;
	font-weight: bold;
	color: #c6784d;
	font-size: 1.5rem;
}
.info img{
	width: 100%;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
}
.dogs{
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	margin-top: 6vh;

	width: 1366px;
	height: 140vh;
}
.age{
	margin-left: 10px;
	font-weight: bold;
	color: black;
	font-size: 1.5rem;
}
.localization{
	margin-left: 10px;
	font-weight: bold;
	color: black;
	font-size: 1.5rem;
}
@media(max-width: 1366px){
	.main-navegation{
		width: 1100px;
	}
	.banner{
		width: 1100px;
		height: 400px;
	}
	button{
		width: 547px;
	}
	.dogs{
		width: 1100px;
		height: 1800px;
	}
}
@media(max-width: 1099px){
	.main-navegation{
		width: 100%
	}
	.banner{
		width: 100%;
		height: 400px;
	}
	button{
		width: 49.5%;
	}
	.dogs{
		width: 100%;
	}
}
@media(max-width: 950px){
	.info{
		width: 350px;
		height: 450px;
	}
	.info:hover{
		width: 370px;
		height: 470px;
	}
	.dogs{
		height: 3000px;
		justify-content: space-evenly;
	}
	h2{
		margin-left: 20px;
	}
	p{
		margin-left: 20px;
	}
}
@media(max-width: 768px){
	.banner{
		height: 330px;
	}
	.info{
		width: 300px;
		height: 400px;
	}
	.info:hover{
		width: 350px;
		height: 450px;
	}
	.dogs{
		height: 2650px;
		justify-content: space-evenly;
	}
}
@media(max-width: 425px){
	.banner{
		display: none;
	}
	.banner-mobile{
		width: 100%;
		display: flex;
	}
	button{
		font-size: 1.2rem;
		width: 49.5%;
	}
	h2{
		font-size: 1.5rem;
	}
	.dogs{
		height: 5000px;
	}
	p{
		font-size: 0.5rem;
	}
}
@media(max-width: 375px){
	button{
		font-size: 1rem;
		width: 49%;
	}
}
@media(max-width: 375px){
	button{
		font-size: 0.8rem;
	}
}
